.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
  }
  &__blue {
    background-color: $color-light-blue;
    color: white;
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
    margin: 5rem 3rem;
    margin-bottom: 0rem;
    border: none;
  }
  &:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }
  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px) scale(1.01);
    box-shadow: 0 0.5rem 1rem rgba(#0000, 0.2);
  }

  &__transparent {
    background-color: $color-light-grey;
    border: 1px solid $color-light-grey;
    font-size: 1.5rem;
    font-weight: 500;
    width: 12rem;
    max-height: 4rem;
    text-align: center;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
