$color-dark-blue: #0d202f;
$color-light-grey: #d8dee2;
$color-dark-grey: #aab0b5;
$color-black: #000000;
$color-light-blue: #3c98e9;
$color-yellow: #fbca0c;
$color-greenblue: #24dcc2;
$color-green: #2ecb76;
